/*
Error: File to import not found or unreadable: bourbon.
       Load path: /Users/Mike/Documents/Projects/workspace/myapp/app/assets/stylesheets
        on line 17 of app/assets/stylesheets/application.scss

12:  *
13:  *= require_tree .
14:  *= require_self
15:  *\/
16: 
17: @import "bourbon";
18: @import "home";
19: @import "users";
20: 
21:  $primary-font-color: #ddd;
22: 

Backtrace:
app/assets/stylesheets/application.scss:17
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Mike/.rvm/gems/ruby-2.4.0@myapp/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/

body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bourbon.\A        Load path: /Users/Mike/Documents/Projects/workspace/myapp/app/assets/stylesheets\A         on line 17 of app/assets/stylesheets/application.scss\A \A 12:  *\A 13:  *= require_tree .\A 14:  *= require_self\A 15:  */\A 16: \A 17: @import \"bourbon\";\A 18: @import \"home\";\A 19: @import \"users\";\A 20: \A 21:  $primary-font-color: #ddd;\A 22: "; }
