
<div class="titleBar">
	<div class="pageTitle">
		<i class="fa fa-list-alt" aria-hidden="true"></i>
		Machines
	</div>
</div>

<!-- below will be the side navbar -->
<div class="sidebar">
	<div class="topLogo">
		<i class="fa fa-battery-half" aria-hidden="true"></i>
		<p class="logoSmallText">EMOTIONAL</p>
		<p class="logoBigText">insights</p>
	</div>

	<!-- begin the nav menu -->

	<div class="navMenu">
		<div class="navItem">
			<a class="navLink">Machines</a>
		</div>
		<div class="navItem">
			<a class="navLink">Details</a>
		</div>
		<div class="navItem">
			<a class="navLink">Alerts</a>
		</div>
		<div class="navItem">
			<a class="navLink">Logbook</a>
		</div>
		<div class="navItem">
			<a class="navLink">Reports</a>
		</div>
	</div>

	<!-- end the nav menu -->

	<!-- begin the settings menu -->

	<div class="settingsMenu">
		<div class="settingsItem">
			<a class="settingsLink">Admin</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Account</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Setup</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Support</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Sign Out</a>
		</div>
	</div>
</div>