
<div class="titleBar">
	<div class="pageTitle">
		<i class="fa fa-list-alt" aria-hidden="true"></i>
		Alerts
	</div>
</div>

<!-- below will be the side navbar -->
<div class="sidebar">
	<div class="topLogo">
		<i class="fa fa-battery-half" aria-hidden="true"></i>
		<p class="logoSmallText">EMOTIONAL</p>
		<p class="logoBigText">insights</p>
	</div>

	<!-- begin the nav menu -->

	<div class="navMenu">
		<div class="navItem">
			<a class="navLink">
				<i class="fa fa-laptop" aria-hidden="true"></i>
				Machines
			</a>
		</div>
		<div class="navItem">
			<a class="navLink">
				<i class="fa fa-bar-chart" aria-hidden="true"></i>
				Details
			</a>
		</div>
		<div class="navItem">
			<a class="navLink">
				<i class="fa fa-exclamation-circle alert-notice" aria-hidden="true"></i>
				Alerts
			</a>
		</div>
		<div class="navItem">
			<a class="navLink"><i class="fa fa-table " aria-hidden="true"></i>
				Logbook
			</a>
		</div>
		<div class="navItem">
			<a class="navLink"><i class="fa fa-book " aria-hidden="true"></i>
				Reports
			</a>
		</div>
	</div>

	<!-- end the nav menu -->

	<!-- begin the settings menu -->

	<div class="settingsMenu">
		<div class="settingsItem">
			<a class="settingsLink">Admin</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Account</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Setup</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Support</a>
		</div>
		<div class="settingsItem">
			<a class="settingsLink">Sign Out</a>
		</div>
	</div>
</div>
<!-- end the sidebar -->

<!-- main page container stuff below here -->
<div class="container">

	<div class="elementGroup">
		<div class="elementHeader">
			<a class="elementDrop">
				<i class="fa fa-caret-right" aria-hidden="true"></i>
			</a>
			Group 1
		</div>
		<div class="detailTable hidden">
			<div class="columnHeaders">
				<div class="elementName">Element</div>
				<div class="lastUpdate">Last Updated</div>
				<div class="highAlerts">High Alerts</div>
				<div class="lowAlerts">Low Alerts</div>
				<div class="elementDatum">Data (°C)</div>
				<div class="alertButtonHeader"></div>
			</div>
			<div class="elementRow">
				<div class="elementName"></div>
				<div class="lastUpdate"></div>
				<div class="highAlerts"></div>
				<div class="lowAlerts"></div>
				<div class="elementDatum"></div>
				<div class="alertButton" id = "alertButton">Refresh</div>
				<div class="editButton" id = "editButton">Edit</div>
			</div>
			<div class="elementRow">
				<div class="elementName"></div>
				<div class="lastUpdate"></div>
				<div class="highAlerts"></div>
				<div class="lowAlerts"></div>
				<div class="elementDatum"></div>
				<div class="alertButton" id = "alertButton">Refresh</div>
				<div class="editButton" id = "editButton">Edit</div>
			</div>		
		</div>
	</div>

	<div class="elementGroup">
		<div class="elementHeader">
			<a class="elementDrop">
				<i class="fa fa-caret-right" aria-hidden="true"></i>
			</a>
			Group 2
		</div>
		<div class="detailTable hidden">
			<tr class="columnHeaders">
				<td class="elementName"></td>
				<td class="lastUpdate"></td>
				<td class="elementAlerts"></td>
				<td class="elementGraphs"></td>
				<td class="elementDatum"></td>
				<td class="elementDatum"></td>
			</tr>
			<tr class="elementRow">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>		
		</div>
	</div>

	<div class="elementGroup">
		<div class="elementHeader">
			<a class="elementDrop">
				<i class="fa fa-caret-right" aria-hidden="true"></i>
			</a>
			Group C
		</div>
	</div>

</div>

<div class="editMenu">
	<div class="editHeader">Machine Alerts</div>
	<div class="tempAlertsEdit">
		<p class="highTempTitle">High Threshold:</p>
		<input class="highTempInput"></input>
		<p class="lowTempTitle">Low Threshold:</p>
		<input class="lowTempInput"></input>
		<div class="updateTempButton">Update</div>
	</div>
</div>