@import 'application.scss';

.columnHeaders {
	display: inline-block;

	div {
		display: inline-block;
		width: 150px;
		color: black;
	}
}

.elementRow{
	display: inline-block;

	div {
		display: inline-block;
		width: 150px;
		font-size: 12pt;
	}
}

#alertButton {
	color: white;
	background-color: black;
	padding: 4px;
	border: 1px solid teal;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16pt;
	width: 70px;

	&:active {
		background-color: lighten(black, 30%);
	};
}