@import 'application.scss';

.elementGroup {

	padding: 20px 15px 0px 15px;
	font-size: 16pt;
	color: $primary-font-color;

	.elementHeader {
		width: 60%;
		background-color: teal;
		height: 25px;
		padding: 5px;
		//border: 1px solid $border-color;
		user-select: none;
		cursor: pointer;

		.fa-caret-right {
			padding-left: 5px;
		}
	}

	.detailTable {
		padding: 5px 5px 0px 15px;

		.elementRow {
		}
	}

	.highlighted {
		background-color: lighten(teal, 10%);
	}
}